.logo
{
    background-color: #fff;
    padding: 20px;
    text-align: center; 
}
body{
    background-color:#f2f2f2;
}
.col-pad-0
{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.dynamicUI
{
    padding: 20px; 
    margin-top: 20px; 
    background-color: #fff;
    border-radius: 15px;
}
.dynamicUI .date
{
    font-size: 20px !important;
    font-weight: 700;
    padding-left: 20px;
}
.dynamicUI .bookData
{
    font-size: 20px !important;
    font-weight: 700;
    margin-top: 10px;
    padding: 20px;
    border-top-left-radius: 20px;
    background-color: #ffe4ff;
}
.dynamicUI .bookquantity
{
    font-size: 20px !important;
    font-weight: 700;
    margin-top: 10px;
    padding: 20px;
    border-bottom-right-radius: 20px;
    color: #fff !important;
    background-color: #7507cf;
}
.displayflex
{
    display:flex !important;
}
.span_label
{
    font-weight: 500;
    font-size: 14px;
    color: grey;
}
.quantity-span
{
    font-size: 50px;
}
.span_label_quanity{
    font-weight: 500;
    font-size: 14px;
    color: #e3e0e0 !important;
}
.empty
{
    padding: 20px;
    text-align: center;
}
.mtop20
{
    margin-top:20px !important;
}
.tblBorder
{
    border-color:orange;
}
.ml10{
    margin-left:10px;
}
.dynamicUI .data .col-12{
    margin-bottom: 10px;
}
.w100
{
    width: 100% !important;
}
.preloader
{
    background-color: #0606069c;
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    color: #fff;
}
.note{
    color: red;
    font-size: 12px;
}